@media only screen and (max-height: 1081px) {
.future {
  height: 80vh
}
}
@media only screen and (max-height: 1000px) {
  .future {
    height: 85vh
  }
}
@media only screen and (max-height: 950px) {
  .future {
    height: 100vh
  }
}
@media only screen and (max-height: 900px) {
  .future {

  }
}
@media only screen and (max-height: 850px) {
  .future {

  }
}
@media only screen and (max-height: 800px){
  .future {

  }
  .future__hands {
  }
}

@media (max-width: 2200px) {
.future__hands {
  bottom: -226px;
  right: -10px;
}
  .project {
    & .funding__right {
      & .svg6 {
        right: -131%;
      }
    }
  }
}
@media (max-width: 1980px){
  .future__hands {
    bottom: -226px;
    right: -10px;
  }
}
@media (max-width: 1800px){
  .future__hands {
    bottom: -226px;
    right: -10px;
  }
  .goals__steps .step__number::after {
    top: 120px;
  }
  .goals__steps .step__two .step__number::after {
    top: 120px;
  }
}
@media (max-width: 1600px){
  .future__hands {
    bottom: -226px;
    right: -10px;
  }

}
@media (max-width: 1500px){
  .future__hands {
    bottom: -226px;
    right: -10px;
  }

}
@media (max-width: 1440px){
  .future__hands {
    bottom: -226px;
    right: -10px;
  }
  .project {
    & .funding__right {
      & .svg6 {
        right: -131%;
      }
    }
  }
}
@media (max-width: 1380px) {
  .project {
    & .funding__right {
      & .svg6 {
        right: -135%;
      }
    }
  }
}
@media (max-width: 1334px) {
  .project .box .sm-box__title {
    padding: 12px 22px;
  }
}
@media (max-width: 1300px){
  .future__hands {
    bottom: -226px;
    right: -10px;
  }
  .project {
    &__sm-title {
      font-size: 20px;
    }
    & .press {
      font-size: 14px;
    }
    & .box {
      bottom: -520%;
      & .sm-box__desc {
        font-size: 14px;
      }
      & .sm-box__title {
        font-size: 14px;
      }
    }
    & .funding__right {
      & .svg6 {
        right: -140%;
      }
    }
  }
  .goals__steps .step__two .step__number::after {
    top: 120px;
  }
}
@media (max-width: 1200px) {
  .future__hands {
    bottom: -226px;
    right: -10px;
  }
  .now {
    .container {
      max-width: 776px;
    }

    &__left {
      & .now__image {
        width: 314px;
        height: 298px;
      }
    }

    &__right {
      & .now__image {
        width: 214px;
        height: 144px;
      }
    }
  }
  .project {
    & .funding__right {
      & .svg6 {
        right: -145%;
      }

      & .svg5 {
        right: -18%;
      }

      & .svg4 {
        right: -18%;
      }
    }

    &__sm-title {
      width: 102%;
      font-size: 19px;
    }
  }
  .goals__steps .step__two .step__number::after {
    top: 121px;
  }
}
@media (max-width: 1150px){
  .future__hands {
    width: 372px;
    height: 451px;
    bottom: -106px;
    right: -10px;
  }
  .goals__steps .step__number::after {
    width: 800px;
    right: -768px;
  }
  .goals__steps .step__three .step__number::after {
    right: -769px;
  }
  .project {
    padding: 27px 54px;
    .press {
      font-size: 13px;
    }
  }
}
@media (max-width: 1100px){
  .future__hands {
    bottom: -106px;
  }
  .goals__steps .step__number::after {
    width: 700px;
    right: -668px;
  }
  .goals__steps .step__two .step__number::after {
    width: 650px;
    right: -638px;
  }
  .goals__steps .step__three .step__number::after {
    right: -668px;
  }
}
@media (max-width: 1050px){
}
@media (max-width: 1000px){
  .future__hands {
    bottom: -134px;
  }
  .people__donors {
    padding: 101px 45px;
  }
  .people__partners{
    padding: 101px 45px;
  }
}

@media(min-width:992px){

  .col-lg-6{
    width:50%;
    height: auto;
  }

  .row-cols-lg-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:10px;
  }
  .pe-10{
    padding-right:10px !important;
  }
  .col-12{
    width: 100% ;
    height: auto ;
  }

  .col-12 img{
    width: 100%;
    height: 100%;
  }
  .flex-nowrap{
    flex-wrap: wrap;
  }
}
@media (max-width:992px) {
  .mob-img-container{
    width: 100vw;
    height: auto;
    padding:0 10px;
    /*scroll-snap-align: start;*/
  }

  .mob-img-container img{
    width: 100%;
    height: 100%;

  }
  .overflow-x-auto{
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;
    scroll-snap-stop: always;
  }
  .p-0{
    padding: 0;
  }
  .flex-row{
    display: flex;
    flex-direction: row;
  }


}

@media (max-width: 950px) {
  .future {
    height: 88vh;
  }
  .future__hands {
    bottom: -120px;
  }
  .goals__steps .step__number::after {
    width: 600px;
    right: -568px;
  }
  .goals__steps .step__two .step__number::after {
    width: 550px;
    right: -538px;
    top: 120px;
  }
  .goals__steps .step__three .step__number::after {
    right: -568px;
  }
  .footer__phone {
    font-size: 18px;
  }
}
@media (max-width: 900px){
  .goals__steps .step__two {
    margin-left: 0;
  }
  .goals__steps .step__number {
    font-size: 120px;
  }
  .goals__steps {
    margin-left: 35px;
  }
  .goals__steps .step__number::after {
    height: 16px;
    top: 109px;
  }
  .goals__steps .step__two .step__number::after {
    height: 16px;
    top: 109px;
  }
  .goals__steps .step__three .step__number::after {
    height: 15px;
    top: 112px;
  }



  .concept .card__desc {
    font-size: 22px;
  }
  .concept__div {
    width: 502px;
  }

  .project {
    padding: 27px 54px;
    &__sm-title {
      font-size: 16px;
    }
    & .funding {
      gap: 41px;
      &__right {
        & .show-box1 {
          & .press_blue {
            line-height: 120%;
            padding: 6px 0;
          }
        }

      }
      &__left {
        & .svg2 {
        }
      }
    }
    .press {
      font-size: 12px;
    }

  }
}
@media (max-width: 850px){
  .future {
    height: 95vh;
    padding-top: 40px;
    &__hands {
      bottom: -120px;
    }
    & .container{
      flex-direction: column;
    }
    &__left {
      margin: 0 auto;
      justify-content: center;
      &::after {
        right: 0;
        top: 145px;
        left: 0;
        margin: 0 auto;
        transform: rotate(0deg);
        width: 100%;
      }
    }
    &__right {
      text-align: center;
    }
    &__period {
      flex-direction: column;
      justify-self: center;
    }
    &__dot {
      text-align: center;
      margin: 10px auto;
    }
    &__title {
      text-align: center;
      width: 564px;
    }
    &__buttons {
      display: flex;
      flex-direction: column;
    }
    &__btn {
      margin: 0 auto 8px;
    }
    &__watch {
      width: 234px;
    }
    &__hands {

    }
  }
  .goals__steps .step__number::after {
    width: 500px;
    right: -468px;
  }
  .goals__steps .step__two .step__number::after {
    width: 450px;
    right: -438px;
  }
  .goals__steps .step__three .step__number::after {
    right: -468px;
  }
  .goals__steps .step__desc {
    font-size: 20px;
  }
  .footer__phone {
    font-size: 16px;
  }
  .project .funding__right .svg4 {
    right: -24%;
  }
    .project .funding__right .svg5 {
    right: -24%;
  }
  .project .funding__right .svg6 {
    right: -155%;
  }
}
@media (max-width: 800px){

  .people__grid {
    grid-template-columns: 1fr;
  }
  .footer {
    & .container {
      grid-template-columns: 1fr;
    }
    &__left {
      &::after {
        transform: rotate(0deg);
        width: 100%;
        height: 2px;
        top: 302px;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
    }

    &__right {
      margin-top: 95px;
    }
  }
  .project {
    & .press {
      width: 100%;
    }
    &__sm-title {
       width: 82%;
       margin: 0 auto 15px;
     }
    & .grid__col-3 {
        grid-template-columns: 1fr;
    }
    &__funding {
      & .project__sm-title {
        width: 82%;
        margin: 0 auto 15px;
        text-align: center;
      }
      & .grid__col-2 {
        grid-template-columns: 1fr;
      }
      & .funding {
        &__left {
          margin: 0 auto;
          & svg {
            display: none;
          }
        }
        &__right {
          margin-top: 0;
          & svg {
            display: none;
          }

        }
        &__test {
          width: 89%;
          margin: 0 auto;
        }
        &__test2 {
          width: 72%;
          margin: 0 auto;
        }
      }
    }
    &__management {
      & .management__test {
        width: 72%;
        margin: 0 auto;
      }
      & .press {
        width: 100% !important;
        margin-left: 0;
      }
    }
    &__execution {
      & .project__sm-title {
        margin-bottom: 10px;
      }
      & .execution__test {
        width: 72%;
        margin: 0 auto;
        & .press {
          margin-left: 0 !important;
        }
      }
    }
    & .box {
      width: 137%;
      left: -17%;
    }
    & .box.box3 {
      bottom: -239%;
      left: -19%;
    }
  }
}
@media (max-width: 750px) {

  .future {
    height: 100vh;
    &__hands {
      bottom: -94px;
    }
  }
  .demo {
    &__ukr {
      max-width: 630px;
    }
    &__loc {
      top: 61px;
      left: 272px;
    }
  }

  .concept .card__desc {
    font-size: 17px;
  }
  .people {
    &__donors {
      padding: 40px 45px
    }
    &__partners {
      padding: 40px 45px
    }
  }
  .concept__div {
    width: 387px;
    margin: 30px auto 30px
  }
  .future::after {
    clip-path: polygon(50% 90%, 0% 100%, 100% 100%);
  }
}
@media (max-width: 700px) {
  .header {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      border: 1px solid rgba(0, 0, 0, 0.08);
      top: 86px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 96%;
    }
    & .container {
      flex-direction: column;
    }
    &__logo {
      padding: 25px 0;
    }
    &__nav {
      padding: 5px 0 15px;

    }

    &__link {
      position: relative;
      &:not(:last-child)::after {
        display: inline-block;
        position: absolute;
        content: "";
        border: 1px solid rgba(0, 0, 0, 0.08);
        transform: rotate(-90deg);
        top: 8px;
        right: -43px;
        width: 25px;
      }

    }
  }
  .future {
    &__hands {
      right: -50px;
    }
  }
  .now {
    &__images {
      display: none;
    }
    & .swiper {
      display: block;
    }

  }
  .goals__steps .step__number {
    margin-right: 3px;
  }
  .goals__steps {
    margin-left: 2px;
  }

}
@media (max-width: 650px) {
  .demo {
    padding: 0 10px;
  }
  .future {
    height: 110vh;
    &__hands {
      display: none;
      bottom: -94px;
    }
  }
  .goals__steps .step__number::after {
    width: 400px;
    right: -368px;
  }
  .goals__steps .step__two .step__number::after {
    width: 400px;
    right: -368px;
  }
  .goals__steps .step__three .step__number::after {
    right: -368px;
  }
  .goals__steps .step__desc {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .future {
    height: 115vh;
  }
  .goals__steps .step__desc {
    font-size: 17px;
  }
  .goals__steps .step__number {
    margin-right: 11px;
  }
  .demo {
    &__title {
      margin-bottom: 20px;
    }
    &__loc {
      top: 52px;
      left: 246px;
    }
  }
}
@media (max-width: 550px) {
  .header {
    &__link{
      &:first-child {
        display: none;
      }
    }
  }
  .future {
    padding: 0 20px;
    &__left {
      height: 179px;
    }
    &__desc {
      font-size: 14px;
    }
    &__title {
      font-size: 29px;
      width: 414px;
      margin-top: 75px;
    }
    &__hands {
    }
  }
  .fundraising__live {
    width: 415px;
  }
  .goals__steps .step__number::after {
    width: 300px;
    right: -268px;
  }
  .goals__steps .step__two .step__number::after {
    width: 300px;
    right: -268px;
  }
  .goals__steps .step__three .step__number::after {
    right: -268px;
  }
  .goals__steps .step__desc {
    font-size: 16px;
  }

  .demo {
    &__loc {
      top: 48px;
      left: 219px;
    }
  }
}
@media (max-width: 500px) {
  .future__title {
    width: 356px;
  }
  .demo {
   text-align: center;
    &__loc {
      top: 44px;
      left: 198px;
    }
  }
  .goals__steps .step__desc {
    line-height: 100.02%;
    font-size: 16px;
    margin-bottom: 57px;
  }
  .goals__steps .step__number {
    font-size: 103px;
    &::after {
      top: 92px !important;
      height: 14px !important;
    }
  }
  .goals__steps .step__three .step__number::after {
    height: 13px;
    right: -281px;
  }
  .step {
    margin-bottom: 10px;


  }
  .concept .card__desc {
    font-size: 12px;
  }

}
@media (max-width: 450px) {
  .header__link {
    font-size: 14px;
  }
  .future {
    height: 122vh;
  }
  .demo {
    &__loc {
      top: 37px;
      left: 166px;
    }
  }
  .goals__steps .step__two .step__number::after {
    height: 13px !important;
    top: 93px;
  }
}