@import "./fonts.css";
@import "./reset.css";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "../fonts/Inter", sans-serif;
}

.container {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 10px;
}

.grid {
  display: grid;
}

.grid__col-6 {
  grid-template-columns: 1fr 1fr;
}

.grid__col-1 {
  grid-template-columns: 1fr;
}

.grid__col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid__col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__grid {
  grid-template-columns: 182px 85px 62px;
}

.grid__col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: end;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.header {
  background: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}
.header__link {
  position: relative;
  font-family: "../fonts/Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #153149;
}
.header__link:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -7px;
  left: 50%;
  background-color: #153149;
  width: 0%;
  transition: 0.3s;
  transform: translateX(-50%);
}
.header__link:hover:before {
  width: 110%;
}
.header__link:not(:last-child) {
  margin-right: 50px;
}

.future {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 40px;
  position: relative;
  background: url("../images/earth 2.jpg") no-repeat center/cover;
  clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 93%, 0 100%, 0% 70%, 0% 35%, 0 0);
}
.future .container {
  position: relative;
}
.future::before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: radial-gradient(34.04% 34.24% at 47.12% 72.71%, rgba(0, 27, 52, 0.3569) 0%, rgba(7, 21, 36, 0.83) 67.56%);
}
.future::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  z-index: 3;
  bottom: 0;
  left: 0;
  background: rgba(19, 107, 171, 0.4);
  clip-path: polygon(50% 88%, 0% 100%, 100% 100%);
}
.future__left {
  position: relative;
  margin-right: 58px;
}
.future__left::after {
  content: "";
  position: absolute;
  width: 293px;
  border: 2px solid #FFFFFF;
  transform: rotate(-90deg);
  background-color: #FFFFFF;
  top: 51%;
  right: -58%;
}
.future__title {
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 152.02%;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 307px;
  height: 204px;
}
.future__title .future__yellow {
  color: #FACF39;
}
.future__desc {
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 149.52%;
  color: #FFFFFF;
}
.future__desc .byshevSpan {
  color: #FACF39;
  font-size: 20px;
  text-decoration: underline;
}
.future__desc .byshevBlue {
  color: #137DC5;
}
.future__desc .yasnogorodka {
  text-decoration: underline;
  color: #FACF39;
  font-size: 20px;
}
.future__timeline {
  font-family: "../fonts/Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 137.02%;
  color: #FFFFFF;
  margin: 39px 0 3px;
}
.future__period {
  margin-bottom: 43px;
}
.future__period .deadline {
  font-family: "../fonts/Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 137.02%;
  color: #FFFFFF;
}
.future__period .deadline:not(:last-child) {
  margin-right: 45px;
}
.future__dot {
  align-items: center;
  margin-right: 10px;
}
.future__dot svg {
  margin-right: 5px;
}
.future__watch {
  margin-right: 33px;
  font-weight: 600;
  font-size: 20px;
  line-height: 137.02%;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 185px;
  height: 51px;
  background: rgba(2, 41, 67, 0.45);
  border: 3px solid #137DC5;
  border-radius: 4px;
  box-shadow: 4px 13px 8px 2px rgba(34, 60, 80, 0.2);
}
.future__watch:hover {
  background: rgba(33, 91, 123, 0.45);
}
.future__donate {
  font-weight: 600;
  font-size: 20px;
  line-height: 137.02%;
  text-transform: uppercase;
  color: #153149;
  width: 234px;
  height: 51px;
  left: 696px;
  top: 528px;
  background: #FACF39;
  border-radius: 4px;
  transition: 0.9s;
  transition-property: background, color, box-shadow;
  box-shadow: 4px 13px 8px 2px rgba(34, 60, 80, 0.2);
}
.future__donate:hover {
  background: #04C45C;
  color: white;
  box-shadow: 4px 13px 8px -25px rgba(34, 60, 80, 0.2);
}
.future__bottom {
  margin-top: 100px;
}
.future__hands {
  position: absolute;
  bottom: 0;
  right: -137px;
}
.future__hands img {
  width: 100%;
  height: 100%;
}

.fundraising {
  position: relative;
  text-align: center;
}
.fundraising__desc {
  font-weight: 600;
  font-size: 28px;
  line-height: 137.02%;
  color: #153149;
}
.fundraising__status {
  font-weight: 700;
  font-size: 34px;
  line-height: 137.02%;
  color: #137DC5;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
}
.fundraising__live {
  width: 530px;
  height: 15px;
  background-color: #137DC5;
  border-radius: 10px;
  display: inline-block;
  margin-top: 33px;
  position: relative;
}
.fundraising__live::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 95%;
  width: 10%;
  background-color: #153149;
  border-radius: 10px;
}
.fundraising__raised {
  font-weight: 500;
  font-size: 16px;
  line-height: 137.02%;
  color: #61676C;
  margin-top: 20px;
}

.now {
  margin-top: 135px;
  text-align: center;
}
.now .container {
  max-width: 1324px;
}
.now__title {
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 137.02%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #373737;
  margin-bottom: 33px;
}
.now__byshev {
  color: #137DC5;
}
.now__image {
  width: 367px;
  height: 249px;
}
.now__image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.now__left {
  margin-right: 10px;
}
.now__left .now__image {
  width: 539px;
  height: 513px;
}
.now__left .now__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.now__right {
  gap: 7px;
  row-gap: 10px;
}
.now .swiper {
  display: none;
}
.now__slide {
  width: 100%;
  height: calc(100vw - 50%);
}
.now__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.goals {
  height: auto;
}
.goals__title {
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 137.02%;
  text-transform: uppercase;
  color: #137DC5;
  margin: 114px 0 2px;
  text-align: center;
}
.goals__steps {
  margin-left: 102px;
}
.goals__steps .step__number {
  position: relative;
  font-family: "../Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 134px;
  line-height: 137.02%;
  color: #FACF39;
  margin-right: 35px;
}
.goals__steps .step__number::after {
  content: "";
  width: 919px;
  height: 18px;
  position: absolute;
  background: linear-gradient(to right, #FACF39, #FFF);
  top: 120px;
  right: -891px;
}
.goals__steps .step__desc {
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 137.02%;
  color: #153149;
}
.goals__steps .step__two {
  margin-left: 90px;
}
.goals__steps .step__two .step__desc {
  align-self: flex-start;
}
.goals__steps .step__two .step__number {
  color: #137DC5;
}
.goals__steps .step__two .step__number::after {
  background: linear-gradient(to right, #137DC5, #FFF);
  width: 788px;
  right: -776px;
  top: 65.2%;
  height: 18px;
}
.goals__steps .step__three .step__number::after {
  top: 122px;
  right: -889px;
}
.goals__steps .step__four {
  margin-left: 90px;
}
.goals__steps .step__four .step__number {
  color: #137DC5;
}
.goals__steps .step__four .step__number::after {
  display: none;
}

.concept__sm-title {
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 137.02%;
  color: #153149;
  margin: 25px 0 30px;
}
.concept__cards {
  gap: 30px;
  row-gap: 30px;
}
.concept__title {
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #137DC5;
  margin: 80px 0 0;
  text-align: center;
}
.concept__image img {
  width: 100%;
}
.concept .card {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: 0.4s;
}
.concept .card__title {
  text-align: center;
  height: 48px;
  align-self: center;
}
.concept .card__desc {
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 137.02%;
  color: #153149;
}
.concept .card:hover {
  background-color: #137DC5;
}
.concept .card:hover .card__desc {
  color: white;
}
.concept__div {
  width: 556px;
  height: 464px;
  margin: 30px auto 102px;
}

.people {
  position: relative;
  background: rgba(45, 85, 115, 0.8);
}
.people__title {
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 137.02%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 20px 0 23px;
  position: relative;
}
.people__desc {
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 137.02%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 23px;
  position: relative;
  max-width: 493px;
}
.people__link {
  position: relative;
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 137.02%;
  color: #56CCF2;
}
.people__donors {
  padding: 101px 0;
  position: relative;
  background: url("../images/donors.jpg") no-repeat center/cover;
}
.people__donors::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(45, 85, 115, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
.people__donors .partners__svg svg {
  position: relative;
}
.people__partners {
  padding: 101px 0;
  position: relative;
  background-image: url("../images/partners.jpg");
}
.people__partners::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(45, 85, 115, 0.8);
  position: absolute;
  top: 0;
  left: 0;
}
.people__partners .partners__svg svg {
  position: relative;
}

.demo {
  margin-top: 23px;
  position: relative;
  background-image: url("../images/bigMap.png");
  height: 620px;
  width: 100%;
}
.demo::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background: rgba(14, 1, 1, 0.8);
}
.demo__ukr {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 763px;
}
.demo__ukr img {
  width: 100%;
}
.demo__loc {
  position: absolute;
  top: 72px;
  left: 336px;
}
.demo__byshev {
  font-family: "../fonts/Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 131.02%;
  color: #FFFFFF;
  margin-bottom: 7px;
}
.demo .container {
  padding-top: 67px;
}
.demo__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 137.02%;
  letter-spacing: 0.13em;
  color: #FFFFFF;
  position: relative;
}

.project {
  overflow-x: hidden;
  margin-top: 43px;
  background-image: url("../images/My_test.jpg");
  height: 100vh;
}
.project a {
  text-decoration: underline;
  color: #FFFFFF;
}
.project__title {
  position: relative;
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 111.02%;
  text-transform: uppercase;
  color: #153149;
  max-width: 429px;
}
.project__title::before {
  content: "";
  position: absolute;
  width: 107px;
  height: 5px;
  top: 22px;
  left: -100px;
  background: #153149;
}
.project .grid__col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.project__parts {
  margin-top: 42px;
  width: 100%;
  gap: 20px;
}
.project .box {
  width: 105%;
  display: none;
  background: #719DC1;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  left: -3%;
  top: 77%;
  position: absolute;
  z-index: 6;
}
.project .box .sm-box__title {
  display: inline-block;
  width: 100%;
  background-color: #FFF;
  padding: 12px 44px;
  font-family: "../fonts/Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 137.02%;
  color: #153149;
  text-align: center;
}
.project .box .sm-box__content {
  padding: 10px 20px;
}
.project .box .sm-box__desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 185.52%;
  color: #FFFFFF;
  margin-left: 10px;
}
.project .box:hover {
  display: block;
}
.project .press {
  display: inline-block;
  width: 100%;
  height: 38px;
  background: #FFFFFF;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 137.02%;
  color: #565656;
  text-align: center;
  margin: 0 auto 15px;
  padding: 8px 0;
}
.project .show-box1 {
  position: relative;
}
.project .show-box1 #board:checked + .box {
  display: block;
}
.project .show-box1 #fund:checked + .box {
  display: block;
}
.project .show-box1 #office:checked + .box {
  display: block;
}
.project .press_blue {
  width: 100%;
  background: #719DC1;
  box-shadow: 4px 11px 24px 12px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
}
.project__sm-title {
  width: 100%;
  height: 61px;
  border: 3px solid #137DC5;
  border-radius: 3px;
  font-weight: 600;
  font-size: 22px;
  line-height: 137.02%;
  color: #004988;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 28px;
}
.project .funding__test {
  border: 2px solid #137DC5;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  padding: 15px 10px 0;
}
.project .funding__left {
  position: relative;
}
.project .funding__left .svg1 {
  position: absolute;
  top: 0;
  left: -53px;
}
.project .funding__left .svg2 {
  position: absolute;
  top: 16px;
  right: -42px;
}
.project .funding__left .svg3 {
  position: absolute;
  top: 16px;
  right: -60px;
}
.project .funding__right {
  position: relative;
  margin-top: 40px;
}
.project .funding__right .svg4 {
  position: absolute;
  top: 70px;
  right: -20px;
}
.project .funding__right .svg5 {
  position: absolute;
  top: 69px;
  right: -20px;
}
.project .funding__right .svg6 {
  position: absolute;
  top: 81px;
  right: -133%;
  z-index: 5;
}
.project .funding__foundation {
  width: 95%;
  border-radius: 5px;
  padding: 2.5%;
  border: 2px solid #137DC5;
  margin: 0 auto;
  height: 164px;
}
.project .funding__foundation .foundation__title {
  width: 100%;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  color: #004988;
  text-align: center;
  padding: 12px 0;
}
.project .funding__foundation .show-box1 .press {
  position: relative;
}
.project .funding__foundation .show-box1 .press::after {
  content: "";
  position: absolute;
  width: 94%;
  height: 1px;
  background-color: #FFFFFF;
  top: 27px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.project__management .press_blue-management {
  background: #719DC1 !important;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.2);
  color: #FFFFFF !important;
}
.project__management .management__test {
  width: 95%;
  text-align: center;
  margin: 0 auto;
}
.project__management .management__test .project__mobile {
  display: none;
}
.project__management .management__office {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #137DC5;
  text-align: center;
  padding: 0 10px;
  margin: 272px auto 0;
  height: 164px;
}
.project__management .management__office .office__title {
  width: 100%;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  color: #004988;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 5px;
}
.project__management .management__office .show-box1 .press {
  position: relative;
}
.project__management .management__office .show-box1 .press::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  background-color: #FFFFFF;
  top: 26px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.project__execution .execution__test {
  width: 95%;
  margin: 0 auto;
}
.project__execution .project__mobile {
  display: none;
}
.project__bottom {
  margin-top: 80px;
}
.project__bottom .bottom__cols {
  gap: 20px;
}
.project__bottom .bottom__col {
  gap: 10px;
}
.project__bottom .bottom__title {
  font-size: 25px;
  line-height: 131.02%;
  text-align: center;
  text-transform: uppercase;
  color: #004988;
}
.project__bottom .bottom__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 131.02%;
  text-decoration-line: underline;
  color: #137DC5;
}

.footer {
  margin-top: 43px;
  padding-top: 66px;
  background: #EDEEEF;
}
.footer__left {
  position: relative;
}
.footer__left::after {
  position: absolute;
  content: "";
  width: 191px;
  height: 2px;
  background: #FFFFFF;
  top: 62px;
  right: -97px;
  transform: rotate(-90deg);
}
.footer__left .bank__details {
  margin-bottom: 5px;
}
.footer__title {
  width: 321px;
  font-weight: 700;
  font-size: 32px;
  line-height: 131.02%;
  text-align: center;
  text-transform: uppercase;
  color: #004988;
  margin-bottom: 34px;
}
.footer__phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 131.02%;
  text-decoration-line: underline;
  color: #137DC5;
  margin-top: 33px;
}
.footer__col:not(:last-child) {
  margin-right: 34px;
}
.footer__donate {
  width: 234px;
  height: 51px;
  left: 887px;
  top: 5823px;
  background: #FACF39;
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  line-height: 137.02%;
  text-transform: uppercase;
  color: #153149;
}
.footer__line {
  width: 100%;
  height: 2px;
  background: #FFFFFF;
  margin-top: 52px;
}
.footer__bottom {
  text-align: center;
  padding: 41px 0 38px;
}
.footer__social {
  margin-top: 20px;
}
.footer__icon {
  margin-right: 10px;
  font-size: 25px;
}
.footer__icon .fa-facebook-square {
  color: #335BF5;
}
.footer__icon .fa-instagram {
  color: #E61F5A;
}
.footer__icon .fa-whatsapp {
  color: #25D366;
}

.svg5 {
  display: none;
}

.grid {
  display: grid;
}

.auth__right {
  padding-bottom: 50px;
  padding-top: 50px;
}
.auth__logo {
  margin-bottom: 100px;
}
.auth__img {
  background: url("../images/earth.jpg") no-repeat center/cover;
  height: 100vh;
}
.auth__form {
  width: 347px;
}
.auth__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #1A202C;
}
.auth__welcome {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2D3748;
  margin-top: 5px;
  margin-left: 86px;
}
.auth__cin {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2D3748;
  height: 50px;
  margin-bottom: 11px;
}
.auth__lab {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4A5568;
  margin-bottom: 11px;
}
.auth__login {
  background: #04C45C;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  height: 50px;
}

.adminMain__image {
  width: 100%;
}
.adminMain__image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.adminMain__left {
  padding-left: 20px;
}
.adminMain__left .live {
  padding-top: 50px;
}
.adminMain__left .live__current {
  width: 100px;
  margin-bottom: 10px;
}
.adminMain__left .live__current .current {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #2D3748;
  height: 50px;
  margin-bottom: 11px;
  width: 150px;
  padding: 10px;
}
.adminMain__left .live__current .current__lab {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4A5568;
  margin-bottom: 11px;
}
.adminMain__left .live__total {
  width: 100px;
}
.adminMain__left .live__total .total {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #2D3748;
  height: 50px;
  margin-bottom: 11px;
  width: 150px;
  padding: 10px;
}
.adminMain__left .live__total .total__lab {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4A5568;
  margin-bottom: 11px;
}
.adminMain__left .live__save {
  background: #04C45C;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  height: 40px;
  width: 60px;
}
.adminMain__left .cards {
  margin-top: 100px;
}
.adminMain__left .cards .title {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #2D3748;
  height: 40px;
  margin-bottom: 11px;
  width: 300px;
  padding: 10px;
}
.adminMain__left .cards .title__lab {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4A5568;
  margin-bottom: 11px;
}
.adminMain__left .cards .imageCard {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #2D3748;
  height: 40px;
  margin-bottom: 11px;
  width: 300px;
  padding: 10px;
}
.adminMain__left .cards .imageCard__lab {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4A5568;
  margin-bottom: 11px;
}
.adminMain__left .cards__save {
  background: #04C45C;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  height: 40px;
  width: 60px;
  margin-right: 10px;
}
.adminMain__left .cards__del {
  background: darkred;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  height: 40px;
  width: 60px;
}
.adminMain__left .cards__exist {
  margin-top: 20px;
  width: 350px;
  gap: 20px;
}
.adminMain__left .cards__exist .card {
  box-shadow: 23px 4px 26px -3px rgba(34, 60, 80, 0.2);
  border-radius: 4px;
}
.adminMain__left .cards__exist .card__image {
  width: 100%;
  height: 180px;
}
.adminMain__left .cards__exist .card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.adminMain__left .cards__exist .card__title {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
  padding: 0 10px;
}
.adminMain__left .cards__exist .card__pdf {
  padding: 0 10px 10px 10px;
}
.adminMain__left .cards__exist .card__file {
  width: 20px;
  height: 20px;
}
.adminMain__left .cards__exist .card__file img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.adminMain__left .cards__exist .card__del {
  background: darkred;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 30px;
}
.adminMain__left .cards__exist .card__pdf-name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 85px;
  height: 1.2em;
  white-space: nowrap;
}

.w-100 {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
