@import "./fonts.css";
@import "./reset.css";


html{
  scroll-behavior: smooth;
}
body {
  font-family: "../fonts/Inter", sans-serif;
}

.container {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 10px;
}

.grid {
  display: grid;
}

.grid__col-6 {
  grid-template-columns: 1fr 1fr;
}
.grid__col-1 {
  grid-template-columns: 1fr;
}

.grid__col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid__col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__grid {
  grid-template-columns: 182px 85px 62px;
}

.grid__col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: end;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.header {
  background: #FFFFFF;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;

  &__link {
    position: relative;
    font-family: '../fonts/Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #153149;
    &:before {
      content: "";
      position: absolute;
      height: 2px;
      bottom: -7px;
      left: 50%;
      width: 0%;
      background-color: #153149;
      transition: 0.3s;
      transform: translateX(-50%);
    }
    &:hover:before {
      width: 110%;
    }

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.personnel
{
  height: auto;
  overflow-x: hidden;
;
  background-image: url("../images/My_test.jpg");
  padding: 27px 132px;

 &__cards {
   gap: 64px;
   row-gap: 122px;
 }
   &__title {
      position: relative;
      font-family: '../fonts/Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 38px;
      line-height: 111.02%;
      text-transform: uppercase;
      color: #153149;
      max-width: 429px;
      margin-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        width: 107px;
        height: 5px;
        top: 20px;
        left: -100px;
        background: #153149;
      }
    }
   &__card {
    & .card {
      text-align: center;
      &__title {
        font-family: '../fonts/Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 137.02%;
        color: #153149;
        text-align: center;
        margin-top: 10px;

      }
      &__image {
        width: 72%;
        height: 82%;
        margin: 0 auto;

        & img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
          border-radius: 8%;
          border: 0px solid #137DC5;
          box-shadow: 0px 10px 38px 21px rgb(0 0 0 / 6%);
        }
      }
      &__desc {
        font-weight: 500;
        font-size: 16px;
        line-height: 185.52%;
        color: #FFFFFF;
        text-align: center;
      }
      &__contact {
        font-weight: 500;
        font-size: 14px;
        line-height: 131.02%;
        text-decoration-line: underline;
        color: #137DC5;
        text-align: center;
      }
    }
  }
}

